/* ----fonts -----*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Manrope&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans:wght@400;500;600;700&display=swap');

/* common section or utilities */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    font-family: 'Work Sans', sans-serif;
}

/* -------
header section styles 
--------*/
/* navigation section style */
.header-container{
    background: rgba(255, 144, 14, 0.1);
}
.nav-section{
    display: flex;
    justify-content: space-around;
}
.nav-title{
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin: 50px 260px 102px 160px;
}
.items{
    display: flex;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    margin: 63px 160px 116px 260px;
    color: #424242;
    gap: 25px;
}
/* banner section style */
.banner-section{
    display: flex;
    flex-direction: column;
}
.banner-info{
    text-align: center;
    margin: 10px 300px 50px 300px;
}
.banner-title{
    font-weight: 700;
    font-size: 54px;
    color: #131313;
    margin-bottom: 30px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
}
.btn-primary{
    border: none;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 24px;
    border-radius: 8px;
}
.banner-img{
    width: 75%;
    border-radius: 8px;
    margin: 5px 200px 40px 200px;
}

/*---------
main section styles
---------*/
.main-container{
    background: #FFFFFF;
}
/* features section styles */
.feature-section{
    display: flex;
    margin: 80px 200px 110px 200px;
    gap: 65px;
}
.features-images{
    width: 50%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.feature-img{
    width: 100%;
    height: 260px;
    object-fit: calc(100%);
    border-radius: 8px;
}
.feature-info{
    width: 50%;
    margin-top: 100px;
}
.feature-title{
    font-weight: 500;
    font-size: 40px;
    color: #131313;
    margin-bottom: 24px;
}
.title{
    color: #727272;
}
span{
    color: #FF900E;
}
.feature-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}

/* second feature section styles */
.second-feature-section{
    display: flex;
    margin: 40px 150px 110px 150px;
    gap: 55px;
}
.feature-text-info{
    width: 50%;
}
.heading-box{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.heading-box hr{
    width: 5px;
    height: 90px;
    background: #FF900E;
    border: none;
}
.first-heading{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}
.first-description{
    margin-bottom: 30px;
}
.textbox{
    padding: 20px 25px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 15px;
}
.textbox-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.textbox-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-img-info{
    width: 50%;
}
.second-feature-img{
    width: 100%;
    height: 700px;
    margin-left: 70px;
    object-fit: inherit;
    border-radius: 8px;
}
.btn-secondary{
    border: none;
    background-color: #FF900E;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    padding: 25px 30px;
    border-radius: 8px;
    margin: -100px 0 0 -5px;
}
.btn-text{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 45px;
}

/* achievement section styles */
.achievement-text{
    margin: 10px 0 80px 160px;
}
.achevement-title{
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-bottom: 20px;
}
.achievement-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.achievement-info{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 5px 170px 150px 170px;
}
.a-details{
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px 30px;
    cursor: pointer;
    transition: .5s;
}
.a-details:hover{
    background-color: #FF900E;
    transform: scale(1.2) rotate(360deg);
}
.a-details img{
    width: 45px;
    height: 61.3px;
    margin-bottom: 10px;
}
.a-number{
    font-weight: 600;
    font-size: 40px;
    color: #424242;
    margin-bottom: 10px;
}
.a-des{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-bottom: 10px;
}

/* advertisement section styles */
.ads-info{
    text-align: center;
    margin: 20px 0 50px 0;
}
.ads-title{
    font-weight: 700;
    font-size: 35px;
    color: #131313;
    margin-bottom: 20px;
}
.ads-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.ads-images{
    mix-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 5px 170px 130px 170px;
}
.ads-images img{
    width: 130.33px;
    height: 50px;
}

/* previous works section */
img{
    width: 100%;
    height: 100%;
}
.previous-works{
    margin: 10px 180px 300px 180px;
    text-align: center;
}
.previous-work{
    margin: 25px auto ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 800px;
    height: 500px;
}
.img-1{
    grid-column: 1 / 3;
    cursor: pointer;
    transition: .5s;
}
.img-1:hover{
    transform: scale(1.2) rotate(360deg);
}
.img-2{
    grid-column: 3 / 4;
    cursor: pointer;
    transition: .5s;
}
.img-2:hover{
    transform: scale(1.2) rotate(360deg);
}
.img-3{
    grid-column: 4 /-1;
    grid-row: -1 / 3;
    cursor: pointer;
    transition: .5s;
}
.img-3:hover{
    transform: scale(1.2) rotate(360deg);
}
.img-4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    cursor: pointer;
    transition: .5s;
}
.img-4:hover{
    transform: scale(1.2) rotate(360deg);
}
.img-5{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    cursor: pointer;
    transition: .5s;
}
.img-5:hover{
    transform: scale(1.2) rotate(360deg);
}

/* footer section styles */
.footer-section{
    text-align: center;
    margin: 0 170px 130px 170px;
}
.footer-text{
    font-weight: 400;
    font-size: 18px;
    color: #424242;
    border-radius: 8px;
    padding: 25px 60px;
    background-color: #FFF4E7;
}